<script src="{{ "/assets/js/jquery.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<p class="head">Heading 1</p>
				<ul>
					<li><a href="">This Thins</a></li>
					<li><a href="">This Thins</a></li>
					<li><a href="">This Thins</a></li>
					<li><a href="">This Thins</a></li>
				</ul>
			</div>
			<div class="col-sm-3">
				<p class="head">Heading 2</p>
			</div>
			<div class="col-sm-3">
				<p class="head">Heading 3</p>
			</div>
			<div class="col-sm-3">
				<p class="head">Heading 4</p>
			</div>
		</div>
	</div>
</footer>