<div class="sidebar">
	<div class="row paper">
		<div class="content">
			<p class="head">Socialize</p>
			<div class="row" id="social-buttons">
				<div class="col-xs-2"><a href="http://facebook.com/{{ site.social.facebook }}"><img src="{{ site.baseurl }}/assets/img/social/facebook.png" alt="" class="res"></a></div>
				<div class="col-xs-2"><a href="http://twitter.com/{{ site.social.twitter }}"><img src="{{ site.baseurl }}/assets/img/social/twitter.png" alt="" class="res"></a></div>
				<div class="col-xs-2"><a href="http://instagram.com/{{ site.social.instagram }}"><img src="{{ site.baseurl }}/assets/img/social/instagram.png" alt="" class="res"></a></div>
				<div class="col-xs-2"><a href="{{ site.social.google }}"><img src="{{ site.baseurl }}/assets/img/social/google-plus.png" alt="" class="res"></a></div>
				<div class="col-xs-2"><a href="{{ site.social.whatsapp }}"><img src="{{ site.baseurl }}/assets/img/social/whatsapp.png" alt="" class="res"></a></div>
				<div class="col-xs-2"><a href="{{ site.social.youtube }}"><img src="{{ site.baseurl }}/assets/img/social/youtube.png" alt="" class="res"></a></div>
			</div>
		</div>
	</div>
	
	<div class="row paper">
		<div class="content">
			<p class="head">About Us</p>
			<strong>Houston United</strong> was founded in 2012 by a group of soccer loving Malayalees in Sugarland, TX. <br />Our goals as a team has been to be strong community organization that fosters friendship, a healthy living, engages in fund raising activities and social events. <br/>
			We welcome all who are interested in joining us to contact us.  
		</div>
	</div>
	<div class="row paper">
		<div class="content">
			<p class="head">Weather</p>
		</div>
	</div>
	<div class="row paper">
		<div class="content">		
			<p class="head">Join Us</p>
			{% include join-form.html %}
		</div>
	</div>
</div>